/* Barlow */
@font-face {
  font-display: swap;
  font-family: "wf-barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin_latin-ext/barlow-v12-latin_latin-ext-regular.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "wf-barlow";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/barlow-v12-latin_latin-ext/barlow-v12-latin_latin-ext-500.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "wf-barlow";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/barlow-v12-latin_latin-ext/barlow-v12-latin_latin-ext-600italic.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "wf-barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin_latin-ext/barlow-v12-latin_latin-ext-700.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "wf-barlow";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/barlow-v12-latin_latin-ext/barlow-v12-latin_latin-ext-800.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "wf-barlow";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/barlow-v12-latin_latin-ext/barlow-v12-latin_latin-ext-900.woff2")
    format("woff2");
}

/* Bricolage Grotesque */
@font-face {
  font-display: swap;
  font-family: "wf-bricolage-grotesque";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bricolage-grotesque-v8-latin_latin-ext/bricolage-grotesque-v8-latin_latin-ext-regular.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "wf-bricolage-grotesque";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/bricolage-grotesque-v8-latin_latin-ext/bricolage-grotesque-v8-latin_latin-ext-700.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "wf-bricolage-grotesque";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/bricolage-grotesque-v8-latin_latin-ext/bricolage-grotesque-v8-latin_latin-ext-800.woff2")
    format("woff2");
}
