@use "reset";
@use "media";
@use "fonts";

:root {
  --clr-light-blue: #edf4f6;
  --clr-light-gray: #f9f9f9;
  --clr-dark-purple: #291749;
  --clr-light-purple: #6037a9;
  --clr-accent-1: #a7c6d3;
  --clr-accent-1-light: #e3ecf0;
  --clr-accent-2: #83ba7b;
  --clr-accent-2-light: #d9f2d5;
  --clr-accent-3: #f2cc59;
  --clr-accent-4: #ffd0ca;

  --fnt-main: "wf-barlow", sans-serif;
  --fnt-alt: "wf-bricolage-grotesque", sans-serif;
}

body {
  font-family: var(--fnt-main);
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding-inline: 1.5rem;

  &.container--wide {
    max-width: 1920px;
  }
}

.bg-light-blue {
  background: var(--clr-light-blue);
}

.bg-light-gray {
  background: var(--clr-light-gray);
}

.grid {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  // outline: 1px solid red;

  @for $i from 1 through 24 {
    .span-#{$i} {
      grid-column: span #{$i};
      // outline: 1px solid blue;
    }
  }
}

a {
  color: inherit;
}
